__pycache__

*.*~

*.pyc

.idea

template/*

htmlcov/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

# Include the database only if it's SQLite
*.db
db.sqlite3

# Ignore the local Django settings file
settings_local.py

# Ignore environment variables file
.env

# Ignore coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pycharm files
.idea/

# VS Code
.vscode/

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Other
.DS_Store
*.swp
