{% extends "base_generic.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="container-fluid d-flex align-items-center justify-content-center vh-100 bg-light">
    <div class="w-50 p-4 bg-white rounded shadow-lg">
        <form class="form-signin" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="text-center">
                <img class="mb-4" src="https://image.winudf.com/v2/image1/c3RvY2subWFya2V0LnNpbXVsYXRvci5zdG9jay52aXJ0dWFsLnRyYWRpbmdfaWNvbl8xNTQ3MDA3ODY1XzA2Mg/icon.png?w=&fakeurl=1" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Create your account</h1>
            </div>

            <label for="username" class="sr-only">User</label>
            <input type="text" id="username" name="username" class="form-control mt-2" placeholder="Your username" required autofocus>

            <label for="email" class="sr-only">E-mail</label>
            <input type="email" id="email" name="email" class="form-control mt-2" placeholder="Your E-mail" required>

            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control mt-2" placeholder="Your password" required>

            <label for="password2" class="sr-only">Password Verification</label>
            <input type="password" id="password2" name="password2" class="form-control mt-2" placeholder="Verify Your password" required>

            <button class="btn btn-lg btn-primary btn-block mt-4" type="submit" id="button-register">Register</button>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="btn btn-lg btn-secondary btn-block">Log In</a>
        </div>

        {% if messages %}
            <div class="mt-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
