{% extends "base_generic.html" %}

{% block content %}
<div class="wallet-funds">
    <p class="funds-name">WALLET:
    R$ {{ user.userprofile.saldo|floatformat:2 }}</p>
</div>

<div class="available-tickets">
    {% if saved_data %}
        {% for stock in saved_data %}
            <div class="ticket">
                <h3>{{ stock.ticker }}</h3>
                <p>Close: {{ stock.close_price|floatformat:2 }}</p>
                <p>Date: {{ stock.date }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No data available.</p>
    {% endif %}
</div>
<div class="operations">
    <div class='purchase-section'>
        <h2 class='purchase-title'>Buy</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ purchase_form.as_p }}
            <button type="submit">Buy</button>
        </form>
    </div>

    <div class='sell-section'>
        <h2 class='sell-title'>Sell</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ sell_form.as_p}}
            <button type="submit">Sell</button>
        </form>
    </div>
</div>
<div class="purchase-history">
    <h2>Purchase History</h2>
    <ul>
        {% for purchase in user_purchase_history %}
        {% if purchase.quantity_bought > 0 %}
            <li>{{ purchase.ticker }} - Quantity: {{ purchase.quantity_bought }} - Price: R$ {{ purchase.purchase_price }} - Date: {{ purchase.date }}</li>
        {% endif %}
            {% empty %}
            <li>No boughts are done yet.</li>
        {% endfor %}
    </ul>
</div>

<div class="sell-history">
    <h2>Sell history</h2>
    <ul>
        {% for sell in user_purchase_history %}
            {% if sell.quantity_sold > 0 %}
            <li>{{ sell.ticker }} - Quantity: {{ sell.quantity_sold }} - Price: R$ {{ sell.purchase_price }} - Date: {{ sell.date }}</li>
            {% endif %}
        {% empty %}
            <li>No solds are done yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
