{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<!--
    <div class="ticker-info">
        <h1>{{ info.shortName }} ({{ ticker }})</h1>
        <div class="info-section">
            <p><strong>Country:</strong> {{ info.country }}</p>
            <p><strong>Industry:</strong> {{ info.industry }}</p>
            <p><strong>Sector:</strong> {{ info.sector }}</p>
            <p><strong>Employees:</strong> {{ info.fullTimeEmployees }}</p>
            <p><strong>Business Summary:</strong> {{ info.longBusinessSummary }}</p>
        </div>

        <h2>Quotes</h2>
        <div class="quote-section">
            <p><strong>Previous Close:</strong> {{ quote.previousClose }}</p>
            <p><strong>Open:</strong> {{ quote.open }}</p>
            <p><strong>Day Low:</strong> {{ quote.dayLow }}</p>
            <p><strong>Day High:</strong> {{ quote.dayHigh }}</p>
            <p><strong>Volume:</strong> {{ quote.volume }}</p>
        </div>

        <h2>Dividends</h2>
        <div class="dividends-section">
            <p><strong>Dividend Rate:</strong> {{ dividends.dividendRate }}</p>
            <p><strong>Dividend Yield:</strong> {{ dividends.dividendYield }}</p>
            <p><strong>Ex-Dividend Date:</strong> {{ dividends.exDividendDate }}</p>
        </div>
    </div>
-->
<div class="row d-flex h-100 w-100 justify-content-center align-items-center bg-info">
    <div class="col d-flex w-100 justify-content-center align-items-center bg-info text-white">
        <h1>
            PÁGINA EM MANUTENÇÃO.
        </h1>
    </div>

</div>
{% endblock %}
