{% load static %}
{% load bootstrap4 %}
<div class="row mt-3 mb-3 bg-info">
    <div class="col d-flex w-100 justify-content-end">
        <h5 class="text-white align-items-botton align-self-center">YOUR WALLET:</h5>
        <h1 class="text-white ml-2"> USD {{ user.userprofile.saldo|floatformat:2 }}</h1>
    </div>
</div>
{% if messages %}
    <div class="row">
        <div class="col">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"> {{ message }} </div>
            {% endfor%}
        </div>
    </div>
{% endif %}